<html>
<head>
	<title>VictoriaPlum.com Merge Requests</title>
	<style>
		body {
		  font-family: sans-serif;
		}
		.author__image {
		  border-radius: 50%;
		  width: 40px;
		  height: auto;
		}
		table {
		  width: 100%;
		  border-collapse: collapse;
		}
		tr {
		  border-bottom: 1px solid #d5d5d5;
		}
		td {
		  padding: 10px 0;
		}
		.mr__time {
		  font-size: 13px;
		}
		.mr__title {
		  font-size: 20px;
		  font-weight: bold;
		}
		.mr__approvals {
		  text-align: right;
		}
		a {
			text-decoration: none;
			color: inherit;
		}
	</style>
</head>
<body>
	<table>
		{{ range . }}
		<tr>
			<td width="50px">
				<img src="{{ .MergeRequest.Author.AvatarURL }}" alt="" class="author__image">
			</td>
			<td>
				<a href="{{ .MergeRequest.WebURL }}" class="mr__title">{{ .MergeRequest.Title }}</a><br />
				<span class="mr__time">Opened: {{ .MergeRequest.CreatedAt.Format "02 Jan 2006" }}</span>
			</td>
			<td width="160px" class="mr__approvals">
				
				{{ range .Approvals.ApprovedBy }}
					<img src="{{ .User.AvatarURL }}" alt="" class="author__image">
				{{ end }}
			</td>
		</tr>
		{{ end }}
	</table>
</body>
</html>